{ config, home, pkgs, ... }:

{
  home.packages = [
    pkgs.ansible
    pkgs.byobu  # depends on tmux
    pkgs.clang-tools
    pkgs.cloc
    pkgs.dia
    pkgs.gdb
    pkgs.get_iplayer
    pkgs.iotop-c
    pkgs.neofetch
    pkgs.nwipe
    # # FIXME: requires uidmap from host - https://github.com/NixOS/nixpkgs/issues/138423
    # # also has networking plugins missing for CNI
    # pkgs.podman
    # pkgs.podman-componse
    pkgs.paperkey
    pkgs.pass
    pkgs.python39Packages.flake8
    pkgs.reuse
    pkgs.scrcpy
    pkgs.shellcheck
    pkgs.tmux  # required by byobu
    pkgs.vobsub2srt
    pkgs.vscode
    pkgs.yapf
    pkgs.youtube-dl
  ];

  programs.git = {
    enable = true;
    aliases = {
      # delete-merged = "!deletemerged() { git branch --merged ${1:-master} | egrep -v '(^\\*|${1:-master})' | xargs --no-run-if-empty git branch -d; }; deletemerged";
      uncommit = "reset --soft HEAD^";
    };
    extraConfig = {
      init = {
        defaultBranch = "main";
      };

      rerere = {
        enable = true;
      };
    };
    lfs = {
      enable = true;
    };
    userName  = "{{ developer_user_name }}";
    userEmail = "{{ developer_user_email }}";
  };
}
