{
    "cmake.configureOnOpen": true,
    "csharp.suppressDotnetInstallWarning": true,
    "editor.minimap.enabled": false,
    "editor.rulers": [79, 100],
    "editor.renderWhitespace": "boundary",
    "files.exclude": {
        "**/.git": true,
        "**/.svn": true,
        "**/.hg": true,
        "**/CVS": true,
        "**/.DS_Store": true,
        "**/.hidden": true,
    },
    "files.trimTrailingWhitespace": true,
    "files.watcherExclude": {
        "**/.git/objects/**": true,
        "**/.git/subtree-cache/**": true,
        "**/node_modules/**": true,
        "**/.hidden/**": true,
    },
    "python.formatting.provider": "yapf",
    "python.formatting.yapfPath": "/home/{{ username }}/.nix-profile/bin/yapf",
    "python.linting.pylintEnabled": false,
    "python.linting.flake8Enabled": true,
    "python.linting.enabled": true,
    "telemetry.enableTelemetry": false,
    // Nvidia has issues resuming from suspend, renderType dom solves it
    // "terminal.integrated.rendererType": "dom",
    "update.mode": "none",
    "window.restoreWindows": "none",
    "window.titleBarStyle": "custom",
    "workbench.colorTheme": "Monokai",
    "[cpp]": {
        "editor.defaultFormatter": "xaver.clang-format"
    },
}