{ config, home, pkgs, ... }:

{
  imports = [ ./base.nix ]
    ++ (if builtins.pathExists ./developer.nix then [ ./developer.nix ] else [])
    ++ (if builtins.pathExists ./custom.nix then [ ./custom.nix ] else [])
  ;

  # Let Home Manager install and manage itself.
  programs.home-manager.enable = true;

  # Home Manager needs a bit of information about you and the
  # paths it should manage.
  home.username = "{{ username }}";
  home.homeDirectory = "/home/{{ username }}";

  # This value determines the Home Manager release that your
  # configuration is compatible with. This helps avoid breakage
  # when a new Home Manager release introduces backwards
  # incompatible changes.
  #
  # You can update Home Manager without changing this value. See
  # the Home Manager release notes for a list of state version
  # changes in each release.
  home.stateVersion = "21.11";

  home.sessionVariables = {
     EDITOR = "nano";
  };

  news.display = "silent";

  targets.genericLinux.enable = true;
}
