# Note this needs to be kept in sync with roles/gnome-apps-user/tasks/main.yml
[org.gnome.evolution.mail]
# use quoted forwarding, otherwise things like gmail app fail to open the original message
forward-style-name = 'quoted'
# vertical layout
layout = 1
# hide todo right side bar
show-to-do-bar = false


# Ask when double clicking executable files
#
# FUTURE: TODO: this can be removed with GNOME 40 (Debian 12 and Ubuntu 22.04)
# as now there is a right click menu item and this setting is deprecated
# https://blogs.gnome.org/antoniof/2021/03/05/files-40-beta-more-productivity-and-some-eye-candy/
[org.gnome.nautilus.preferences]
executable-text-activation = 'ask'


[org.gnome.shell]
favorite-apps = {{ favorite_apps }}


# Sort folders first
[org.gtk.Settings.FileChooser]
sort-directories-first = true
